doctype 5
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		//script(src='http://code.jquery.com/jquery-1.10.2.min.js')
		script(src='http://code.jquery.com/jquery-1.7.1.js')
		script(src='http://api.trello.com/1/client.js?key=ee2686b2d20479cc381a056cdf6c8bf6')
		script(src='/javascripts/trello-connect.js')
	body
		block content